<div class='book-card-list'>
  <% for book in books do %>
    <a href=<%= book.link %> target="_blank" rel="noopener noreferrer" class='book-card'>
      <div class='book'>
        <div class='book-title'>
          <%= book.title %>
        </div>
        <div class='book-author'>
          <%= book.author %>
        </div>
        <%= button_to '/my_bookshelf/delete', method: 'delete', remote: 'true', class: 'del-bookshelf', params: {book_id: book.id} do %>
            <%= image_tag '/assets/my_bookshelf/show/minus.svg', class: 'del-bookshelf-icon' %>
        <% end %>
      </div>
    </a>
  <% end %>
</div>

