<div class='devise_registrations_new'>

  <div class='form-area'>
    <div class='title-area'>
      <h2 class='title'>Sign up</h2>
    </div>

    <div class='contain'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class='type-area'>
        <%= f.label :email, {class: 'label'} %>
        <div>
          <%= f.email_field :email, {autofocus: true, autocomplete: "email", class: 'field'} %>
        </div>

        <div>
          <div><%= f.label :password, {class: 'label'} %></div>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div>
          <%= f.password_field :password, {autocomplete: "new-password", class: 'field'} %>
        </div>

        <%= f.label :password_confirmation, {class: 'label'} %>
        <div>
          <%= f.password_field :password_confirmation, {autocomplete: "new-password", class: 'field'} %>
        </div>
      </div>

      <div class='alert-pos'>
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class='btn-area'>
        <div class="actions">
          <%= f.submit "Sign up", {class: 'btn btn-text-large'} %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>