<div class='devise_sessions_new'>
  <div class='form-area'>
    <div class='title-area'>
      <h2 class='title'>Log in</h2>
    </div>

    <div class='contain'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='type-area'>
        <%= f.label :email, {class: 'label'} %>
        <div>
          <%= f.email_field :email, {autofocus: true, autocomplete: "email", class: 'field'} %>
        </div>

        <%= f.label :password, {class: 'label'} %>
        <div>
          <%= f.password_field :password, {autocomplete: "current-password", class: 'field'} %>
        </div>
      </div>

      <div class='alert-pos'>
        <p class="alert"><%= alert %></p>
      </div>

      <div class='btn-area'>
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", {class: 'btn btn-text-large'} %>
        </div>
        <% end %>

        <%= link_to 'Guest Log in', users_guest_sign_in_path, {method: :post, class: 'btn btn-text-large'} %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>