<div class='item-area-2'>
  <div class='item-2'>
    文学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '文学', {action: 'search_class' , keyword: '90'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本文学', {action: 'search_class' , keyword: '91'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '中国文学', {action: 'search_class' , keyword: '92'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '英米文学', {action: 'search_class' , keyword: '93'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ドイツ文学', {action: 'search_class' , keyword: '94'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'フランス文学', {action: 'search_class' , keyword: '95'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'スペイン文学', {action: 'search_class' , keyword: '96'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'イタリア文学', {action: 'search_class' , keyword: '97'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ロシア・ソビエト文学', {action: 'search_class' , keyword: '98'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'その他の諸言語文学', {action: 'search_class' , keyword: '99'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    <%= link_to '芸術. 美術', {action: 'search_class' , keyword: '7'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '社会科学', {action: 'search_class' , keyword: '3'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '歴史', {action: 'search_class' , keyword: '2'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '哲学', {action: 'search_class' , keyword: '1'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '自然科学', {action: 'search_class' , keyword: '4'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '技術. 工学', {action: 'search_class' , keyword: '5'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '総記', {action: 'search_class' , keyword: '0'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '言語', {action: 'search_class' , keyword: '8'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>

  <div class='item-2'>
    <%= link_to '産業', {action: 'search_class' , keyword: '6'}, {remote: true, method: :get, class: 'search-item'} %>
  </div>
  
</div>
