<div class='item-area-2'>
  <div class='item-2'>
    あ行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'あ', {action: 'search_name_author' , keyword: 'あ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'い', {action: 'search_name_author' , keyword: 'い'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'う', {action: 'search_name_author' , keyword: 'う'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'え', {action: 'search_name_author' , keyword: 'え'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'お', {action: 'search_name_author' , keyword: 'お'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    か行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'か', {action: 'search_name_author' , keyword: 'か'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'き', {action: 'search_name_author' , keyword: 'き'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'く', {action: 'search_name_author' , keyword: 'く'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'け', {action: 'search_name_author' , keyword: 'け'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'こ', {action: 'search_name_author' , keyword: 'こ'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    さ行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'さ', {action: 'search_name_author' , keyword: 'さ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'し', {action: 'search_name_author' , keyword: 'し'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'す', {action: 'search_name_author' , keyword: 'す'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'せ', {action: 'search_name_author' , keyword: 'せ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'そ', {action: 'search_name_author' , keyword: 'そ'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    た行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'た', {action: 'search_name_author' , keyword: 'た'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ち', {action: 'search_name_author' , keyword: 'ち'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'つ', {action: 'search_name_author' , keyword: 'つ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'て', {action: 'search_name_author' , keyword: 'て'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'と', {action: 'search_name_author' , keyword: 'と'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    な行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'な', {action: 'search_name_author' , keyword: 'な'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'に', {action: 'search_name_author' , keyword: 'に'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ぬ', {action: 'search_name_author' , keyword: 'ぬ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ね', {action: 'search_name_author' , keyword: 'ね'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'の', {action: 'search_name_author' , keyword: 'の'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    は行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'は', {action: 'search_name_author' , keyword: 'は'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ひ', {action: 'search_name_author' , keyword: 'ひ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ふ', {action: 'search_name_author' , keyword: 'ふ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'へ', {action: 'search_name_author' , keyword: 'へ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ほ', {action: 'search_name_author' , keyword: 'ほ'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    ま行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'ま', {action: 'search_name_author' , keyword: 'ま'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'み', {action: 'search_name_author' , keyword: 'み'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'む', {action: 'search_name_author' , keyword: 'む'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'め', {action: 'search_name_author' , keyword: 'め'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'も', {action: 'search_name_author' , keyword: 'も'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    や行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'や', {action: 'search_name_author' , keyword: 'や'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ゆ', {action: 'search_name_author' , keyword: 'ゆ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'よ', {action: 'search_name_author' , keyword: 'よ'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    ら行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'ら', {action: 'search_name_author' , keyword: 'ら'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'り', {action: 'search_name_author' , keyword: 'り'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'る', {action: 'search_name_author' , keyword: 'る'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'れ', {action: 'search_name_author' , keyword: 'れ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ろ', {action: 'search_name_author' , keyword: 'ろ'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
  <div class='item-2'>
    わ行
    <div class='item-area-3'>
      <div class='item-3'>
        <%= link_to 'わ', {action: 'search_name_author' , keyword: 'わ'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'を', {action: 'search_name_author' , keyword: 'を'}, {remote: true, method: :get} %>
      </div>
      <div class='item-3'>
        <%= link_to 'ん', {action: 'search_name_author' , keyword: 'ん'}, {remote: true, method: :get} %>
      </div>
    </div>
  </div>
</div>
