<div class='item-area-2'>
  <div class='item-2'>
    文学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '文学', {action: 'search_class' , keyword: '90'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本文学', {action: 'search_class' , keyword: '91'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '中国文学', {action: 'search_class' , keyword: '92'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '英米文学', {action: 'search_class' , keyword: '93'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ドイツ文学', {action: 'search_class' , keyword: '94'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'フランス文学', {action: 'search_class' , keyword: '95'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'スペイン文学', {action: 'search_class' , keyword: '96'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'イタリア文学', {action: 'search_class' , keyword: '97'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ロシア・ソビエト文学', {action: 'search_class' , keyword: '98'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'その他の諸言語文学', {action: 'search_class' , keyword: '99'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    芸術. 美術
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '芸術. 美術', {action: 'search_class' , keyword: '70'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '彫刻', {action: 'search_class' , keyword: '71'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '絵画', {action: 'search_class' , keyword: '72'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '版画', {action: 'search_class' , keyword: '73'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '写真', {action: 'search_class' , keyword: '74'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '工芸', {action: 'search_class' , keyword: '75'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '音楽', {action: 'search_class' , keyword: '76'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '演劇', {action: 'search_class' , keyword: '77'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'スポーツ. 体育', {action: 'search_class' , keyword: '78'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '諸芸. 娯楽', {action: 'search_class' , keyword: '79'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    社会科学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '社会科学', {action: 'search_class' , keyword: '30'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '政治', {action: 'search_class' , keyword: '31'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '法律', {action: 'search_class' , keyword: '32'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '経済', {action: 'search_class' , keyword: '33'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '社会', {action: 'search_class' , keyword: '36'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '教育', {action: 'search_class' , keyword: '37'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '風俗習慣．民俗学．民族学', {action: 'search_class' , keyword: '38'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '国防. 軍事', {action: 'search_class' , keyword: '39'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    歴史
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '歴史', {action: 'search_class' , keyword: '20'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本史', {action: 'search_class' , keyword: '21'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'アジア史. 東洋史', {action: 'search_class' , keyword: '22'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ヨーロッパ史. 西洋史', {action: 'search_class' , keyword: '23'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '北アメリカ史', {action: 'search_class' , keyword: '25'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '伝記', {action: 'search_class' , keyword: '28'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '地理. 地誌. 紀行', {action: 'search_class' , keyword: '29'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    哲学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '哲学', {action: 'search_class' , keyword: '10'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '哲学各論', {action: 'search_class' , keyword: '11'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '東洋思想', {action: 'search_class' , keyword: '12'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '西洋思想', {action: 'search_class' , keyword: '13'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '心理学', {action: 'search_class' , keyword: '14'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '倫理学. 道徳', {action: 'search_class' , keyword: '15'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '宗教', {action: 'search_class' , keyword: '16'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '神道', {action: 'search_class' , keyword: '17'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '仏教', {action: 'search_class' , keyword: '18'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'キリスト教', {action: 'search_class' , keyword: '19'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    自然科学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '自然科学', {action: 'search_class' , keyword: '40'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '数学', {action: 'search_class' , keyword: '41'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '物理学', {action: 'search_class' , keyword: '42'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '化学', {action: 'search_class' , keyword: '43'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '天文学. 宇宙科学', {action: 'search_class' , keyword: '44'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '地球科学. 地学', {action: 'search_class' , keyword: '45'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '生物科学. 一般生物学', {action: 'search_class' , keyword: '46'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '植物学', {action: 'search_class' , keyword: '47'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '動物学', {action: 'search_class' , keyword: '48'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '医学', {action: 'search_class' , keyword: '49'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    技術. 工学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '技術. 工学', {action: 'search_class' , keyword: '50'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '建設工学. 土木工学', {action: 'search_class' , keyword: '51'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '建築学', {action: 'search_class' , keyword: '52'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '機械工学', {action: 'search_class' , keyword: '53'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '電気工学', {action: 'search_class' , keyword: '54'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '海洋工学. 船舶工学', {action: 'search_class' , keyword: '55'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '金属工学. 鉱山工学', {action: 'search_class' , keyword: '56'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '化学工業', {action: 'search_class' , keyword: '57'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '製造工業', {action: 'search_class' , keyword: '58'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '家政学. 生活科学', {action: 'search_class' , keyword: '59'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    総記
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '総記', {action: 'search_class' , keyword: '00'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '図書館. 図書館情報学', {action: 'search_class' , keyword: '01'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '団体', {action: 'search_class' , keyword: '06'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ジャーナリズム. 新聞', {action: 'search_class' , keyword: '07'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    言語
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '言語', {action: 'search_class' , keyword: '80'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本語', {action: 'search_class' , keyword: '81'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '中国語', {action: 'search_class' , keyword: '82'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '英語', {action: 'search_class' , keyword: '83'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ドイツ語', {action: 'search_class' , keyword: '84'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'その他の諸言語', {action: 'search_class' , keyword: '89'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    産業
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '産業', {action: 'search_class' , keyword: '60'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '農業', {action: 'search_class' , keyword: '61'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '畜産業', {action: 'search_class' , keyword: '64'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '林業', {action: 'search_class' , keyword: '65'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '水産業', {action: 'search_class' , keyword: '66'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '商業', {action: 'search_class' , keyword: '67'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '運輸. 交通', {action: 'search_class' , keyword: '68'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '通信事業', {action: 'search_class' , keyword: '69'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>
  
</div>
