<div class='item-area-2'>
  <div class='item-2'>
    文学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '文学', {action: 'search_class' , keyword: '文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本文学', {action: 'search_class' , keyword: '日本文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '中国文学', {action: 'search_class' , keyword: '中国文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '英米文学', {action: 'search_class' , keyword: '英米文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ドイツ文学', {action: 'search_class' , keyword: 'ドイツ文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'フランス文学', {action: 'search_class' , keyword: 'フランス文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'スペイン文学', {action: 'search_class' , keyword: 'スペイン文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'イタリア文学', {action: 'search_class' , keyword: 'イタリア文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ロシア・ソビエト文学', {action: 'search_class' , keyword: 'ロシア・ソビエト文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'その他の諸言語文学', {action: 'search_class' , keyword: 'その他の諸言語文学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    芸術. 美術
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '芸術. 美術', {action: 'search_class' , keyword: '芸術. 美術'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '彫刻', {action: 'search_class' , keyword: '彫刻'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '絵画', {action: 'search_class' , keyword: '絵画'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '版画', {action: 'search_class' , keyword: '版画'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '写真', {action: 'search_class' , keyword: '写真'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '工芸', {action: 'search_class' , keyword: '工芸'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '音楽', {action: 'search_class' , keyword: '音楽'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '演劇', {action: 'search_class' , keyword: '演劇'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'スポーツ. 体育', {action: 'search_class' , keyword: 'スポーツ. 体育'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '諸芸. 娯楽', {action: 'search_class' , keyword: '諸芸. 娯楽'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    社会科学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '社会科学', {action: 'search_class' , keyword: '社会科学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '政治', {action: 'search_class' , keyword: '政治'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '法律', {action: 'search_class' , keyword: '法律'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '経済', {action: 'search_class' , keyword: '経済'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '社会', {action: 'search_class' , keyword: '社会'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '教育', {action: 'search_class' , keyword: '教育'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '風俗習慣．民俗学．民族学', {action: 'search_class' , keyword: '風俗習慣. 民俗学. 民族学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '国防. 軍事', {action: 'search_class' , keyword: '国防. 軍事'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    歴史
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '歴史', {action: 'search_class' , keyword: '歴史'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本史', {action: 'search_class' , keyword: '日本史'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'アジア史. 東洋史', {action: 'search_class' , keyword: 'アジア史. 東洋史'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ヨーロッパ史. 西洋史', {action: 'search_class' , keyword: 'ヨーロッパ史. 西洋史'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '北アメリカ史', {action: 'search_class' , keyword: '北アメリカ史'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '伝記', {action: 'search_class' , keyword: '伝記'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '地理. 地誌. 紀行', {action: 'search_class' , keyword: '地理. 地誌. 紀行'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    哲学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '哲学', {action: 'search_class' , keyword: '哲学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '哲学各論', {action: 'search_class' , keyword: '哲学各論'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '東洋思想', {action: 'search_class' , keyword: '東洋思想'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '西洋思想', {action: 'search_class' , keyword: '西洋思想'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '心理学', {action: 'search_class' , keyword: '心理学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '倫理学. 道徳', {action: 'search_class' , keyword: '倫理学. 道徳'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '宗教', {action: 'search_class' , keyword: '宗教'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '神道', {action: 'search_class' , keyword: '神道'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '仏教', {action: 'search_class' , keyword: '仏教'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'キリスト教', {action: 'search_class' , keyword: 'キリスト教'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    自然科学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '自然科学', {action: 'search_class' , keyword: '自然科学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '数学', {action: 'search_class' , keyword: '数学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '物理学', {action: 'search_class' , keyword: '物理学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '化学', {action: 'search_class' , keyword: '化学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '天文学. 宇宙科学', {action: 'search_class' , keyword: '天文学. 宇宙科学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '地球科学. 地学', {action: 'search_class' , keyword: '地球科学. 地学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '生物科学. 一般生物学', {action: 'search_class' , keyword: '生物科学. 一般生物学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '植物学', {action: 'search_class' , keyword: '植物学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '動物学', {action: 'search_class' , keyword: '動物学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '医学', {action: 'search_class' , keyword: '医学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    技術. 工学
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '技術. 工学', {action: 'search_class' , keyword: '技術. 工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '建設工学. 土木工学', {action: 'search_class' , keyword: '建設工学. 土木工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '建築学', {action: 'search_class' , keyword: '建築学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '機械工学', {action: 'search_class' , keyword: '機械工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '電気工学', {action: 'search_class' , keyword: '電気工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '海洋工学. 船舶工学', {action: 'search_class' , keyword: '海洋工学. 船舶工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '金属工学. 鉱山工学', {action: 'search_class' , keyword: '金属工学. 鉱山工学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '化学工業', {action: 'search_class' , keyword: '化学工業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '製造工業', {action: 'search_class' , keyword: '製造工業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '家政学. 生活科学', {action: 'search_class' , keyword: '家政学. 生活科学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    総記
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '総記', {action: 'search_class' , keyword: '総記'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '図書館. 図書館情報学', {action: 'search_class' , keyword: '図書館. 図書館情報学'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '団体', {action: 'search_class' , keyword: '団体'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ジャーナリズム. 新聞', {action: 'search_class' , keyword: 'ジャーナリズム. 新聞'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    言語
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '言語', {action: 'search_class' , keyword: '言語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '日本語', {action: 'search_class' , keyword: '日本語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '中国語', {action: 'search_class' , keyword: '中国語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '英語', {action: 'search_class' , keyword: '英語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'ドイツ語', {action: 'search_class' , keyword: 'ドイツ語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to 'その他の諸言語', {action: 'search_class' , keyword: 'その他の諸言語'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>

  <div class='item-2'>
    産業
    <div class='item-area-3'>
      <div class='item-3 item-3-kind'>
        <%= link_to '産業', {action: 'search_class' , keyword: '産業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '農業', {action: 'search_class' , keyword: '農業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '畜産業', {action: 'search_class' , keyword: '畜産業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '林業', {action: 'search_class' , keyword: '林業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '水産業', {action: 'search_class' , keyword: '水産業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '商業', {action: 'search_class' , keyword: '商業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '運輸. 交通', {action: 'search_class' , keyword: '運輸. 交通'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
      <div class='item-3 item-3-kind'>
        <%= link_to '通信事業', {action: 'search_class' , keyword: '通信事業'}, {remote: true, method: :get, class: 'search-item'} %>
      </div>
    </div>
  </div>
  
</div>
