<div class='lib'>
  <div class='title-area'>
    <div class='title'>Library</div>
  </div>
  <div class='popup-area'>
  </div>
  <div class='new-release-area'>
    <div class='display-area'>
      <p class='title'>新規公開作品</p>
      <div class='new-release-books'>
        <% for book in @new_release_books %>
          <p class='new-release-book'><%= book.release_date %> : <a href=<%= book.link %> target="_blank" rel="noopener noreferrer" class='link'><%= book.title %></a> / <%= book.author %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class='search-area'>
    <div class='search-display-area'>
      <p class='title'>検索</p>
      <div class='item-area'>
        <div class='item-area-1'>
          <div class='item-1'>
            作品名
            <%= render 'search-name-title' %>
          </div>
          <div class='item-1'>
            作者名
            <%= render 'search-name-author' %>
          </div>
          <div class='item-1'>
            分野別
            <%= render 'search-class' %>
          </div>
        </div>
      </div>
      <div class='text-search-area'>
        <%= form_with url: 'lib/search_text', method: :get, data: {remote: true}, class: 'text-search-form' do |f| %>
          <p class='subtitle'>テキスト検索</p>
          <div class='input-area'>
            <%= f.select :search_method, ['作品名', '作者名'], {}, {class: 'select'} %>
            <%= f.text_field :keyword, class: 'text-field' %>
          </div>
          <%= f.submit '検索実行', class: 'submit search-item' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='result-area' id='result-area'>
    <% if !@err_flag then %>
      <%= render 'recommend' %>
    <% end %>
  </div>
  <div class='operate-result-area' id='operate-result-area'>
    <%= render 'operate-result' %>
  </div>
</div>

<%= javascript_pack_tag 'lib/lib' %>